html {
  background-color: #414141;
  color: #414141;
  font-size: 1.2em;
}

h1 {
  font-size: 4em;
  padding: 50px;
}

h2 {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.textGreen {
  color: #086564;
}

.textYellow {
  color: #fff7e4;
}

button {
  border: #414141 1px solid;
  color: #414141;
  background-color: transparent;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 0.85em;
}

header {
  height: 100vh;
  background-image: url("./assets/retroBG.jpg");
  background-size: cover;
  text-align: center;
  color: #fff7e4;
}

header h1 {
  padding-top: 250px;
}

header div {
  padding: 30px;
  font-weight: 700;
  max-width: 500px;
  margin: auto;
  font-size: 1.2em;
}

header button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #fff7e4;
  border: #fff7e4 1px solid;
  border-radius: 5px;
  bottom: 25px;
  margin-top: 50px;
}

#calendar {
  background-image: url("./assets/calendarVector.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  width: 700px;
  height: 525px;
  margin-top: 45px;
  margin-left: 15%;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar article {
  margin-left: 50px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#calendar article h3 {
  width: 25%;
}

#calendar article .details {
  margin-left: 45px;
  border-left: solid 2px #086564;
  padding: 15px;
  width: 75%;
}

#calendar article .details div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
}

#parcours {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-image: url("./assets/parcoursVector.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 60% 50%;
  justify-items: center;
}

#parcours .retroBike1 {
  width: 400px;
  margin-top: 150px;
  margin-right: 450px;
}

#parcours .parcoursImage {
  width: 500px;
  border-radius: 25px;
}

#inschrijvingen #inschrijvingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#inschrijvingen form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

#inschrijvingen form input {
  background-color: transparent;
  padding-top: 10px;
  margin: 10px;
  border: black solid 1px;
}

#inschrijvingen form .dateInput input {
  width: 80px;
}

#inschrijvingen #inschrijvingKinderen,
#inschrijvingen #inschrijvingKoers {
  height: 700px;
  width: 650px;
  min-width: 500;
  background-image: url("./assets/inschrijvingVector.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#praktisch {
  color: #fff7e4;
}

#praktisch .praktischContent {
  margin: 30px;
}

#praktisch .praktischContent h3 {
  text-align: center;
}

#praktisch .praktischContent article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  margin: 30px;
}

#praktisch .praktischContent article div {
  padding-left: 30px;
  border-left: #086564 2px solid;
  padding: 10px 50px;
}

#praktisch .praktischContent article div ol {
  margin-left: 15px;
}

#praktisch .praktischContent article div ol li {
  margin-bottom: 20px;
}

#praktisch .praktischContent article div ul {
  margin-left: 15px;
}

#praktisch .praktischContent article div ul li {
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  #calendar {
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
  }
  #calendar article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #calendar article .details {
    border-left: none;
  }
  #inschrijvingContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */