//colors
$light: #fff7e4;
$dark: #414141;
$green: #086564;

html {
  background-color: $dark;
  color: $dark;
}
h1 {
  font-size: 4em;
  padding: 50px;
}

h2 {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

h3 {
  align-self: center;
}

.textGreen {
  color: $green;
}

.textYellow {
  color: $light;
}

header {
  height: 100vh;
  background-image: url("./assets/retroBG.jpg");
  background-size: cover;
  text-align: center;

  color: $light;

  h1 {
    padding-top: 400px;
  }

  div {
    padding: 30px;
    font-weight: 700;
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    color: $light;
    border: $light 1px solid;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
  }
}

#calendar {
  background-image: url("./assets/calendarVector.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  width: 700px;
  height: 525px;
  margin-top: 45px;
  margin-left: 15%;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  article {
    margin-left: 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    justify-content: center;

    .details {
      margin-left: 45px;
      border-left: solid 1px $green;
      padding: 15px;
      div {
        display: grid;
        grid-template-columns: 15% 85%;
      }
    }
  }
}

#parcours {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url("./assets/parcoursVector.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 60% 50%;
  justify-items: center;

  .retroBike1 {
    width: 400px;
    margin-top: 150px;
    margin-right: 450px;
  }

  .parcoursImage {
    width: 500px;
    border-radius: 25px;
  }
}

#inschrijvingen{

  #inschrijvingContainer{
    display: flex;
    justify-content: space-around;;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 75%;

    input{
      background-color: transparent;
      padding-top: 10px;
      margin: 10px;
      border: black solid 1px;
    }
  }

  #inschrijvingKinderen, #inschrijvingKoers{
    height: 400px;
    width: 400px;
    background-image: url("./assets/inschrijvingVector.svg");
    background-size: 90%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
}