html {
  background-color: #414141;
  color: #414141;
  font-size: 1.2em;
}

body {
  max-width: 100vw;
  font-family: 'Crimson Text', serif;
}

main {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 4em;
}

h2 {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section {
  margin-top: 50px;
}

.textGreen {
  color: #065755;
}

.textYellow {
  color: #fff4da;
}

button,
a {
  display: block;
  width: 100px;
  text-align: center;
  margin-top: px;
  text-decoration: none;
  border: #414141 1px solid;
  color: #414141;
  background-color: transparent;
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 0.85em;
}

header {
  height: 100vh;
  background-image: url("./assets/retroBG.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff4da;
}

header h1 {
  padding-top: 250px;
}

header div {
  padding: 30px;
  font-weight: 700;
  max-width: 500px;
  margin: auto;
  font-size: 1.2em;
}

header a {
  display: inline-block;
  padding: 10px;
  margin: auto;
  font-size: 1.5em;
  color: #fff4da;
  border: #fff4da 2px solid;
  width: 200px;
}

#calendar {
  margin: auto;
  margin-top: 50px;
  padding-top: 50px;
  width: 75%;
  height: 700px;
  max-width: 900px;
  background-image: url("./assets/calendarVector.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar article {
  margin-left: 50px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar article h3 {
  width: 25%;
}

#calendar article .details {
  margin-left: 45px;
  border-left: solid 2px #065755;
  padding: 15px;
  width: 75%;
}

#calendar article .details div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

#parcours {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-auto-flow: row;
  background-image: url("./assets/parcoursVector.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 60% 50%;
  justify-items: center;
}

#parcours .retroBike1 {
  width: 400px;
  margin-top: 150px;
  margin-right: 450px;
}

#parcours .parcoursImage {
  width: 500px;
  border-radius: 25px;
}

#inschrijvingen #inschrijvingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#inschrijvingen form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

#inschrijvingen form input {
  width: 300px;
  background-color: transparent;
  height: 25px;
  margin: 10px;
  border: black solid 1px;
}

#inschrijvingen form .dateInput input {
  width: 80px;
}

#inschrijvingen #inschrijvingKinderen,
#inschrijvingen #inschrijvingKoers {
  height: 800px;
  width: 800px;
  background-image: url("./assets/inschrijvingVector.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}

#inschrijvingen #inschrijvingKinderen .inschrijvingsContaier,
#inschrijvingen #inschrijvingKoers .inschrijvingsContaier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  margin-right: auto;
  margin-top: 40px;
}

#inschrijvingen #inschrijvingKinderen form,
#inschrijvingen #inschrijvingKoers form {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inschrijvingen #inschrijvingKinderen form .radio,
#inschrijvingen #inschrijvingKoers form .radio {
  width: 20px;
}

#praktisch {
  color: #fff4da;
}

#praktisch .praktischContent {
  margin: 30px;
}

#praktisch .praktischContent h3 {
  text-align: center;
}

#praktisch .praktischContent article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  margin: 30px;
}

#praktisch .praktischContent article div {
  padding-left: 30px;
  border-left: #065755 2px solid;
  padding: 10px 50px;
}

#praktisch .praktischContent article div ol {
  margin-left: 15px;
}

#praktisch .praktischContent article div ol li {
  margin-bottom: 20px;
}

#praktisch .praktischContent article div ul {
  margin-left: 15px;
}

#praktisch .praktischContent article div ul li {
  margin-bottom: 5px;
}

#popupMessage {
  display: none;
  background-color: red;
  width: 90%;
  position: fixed;
  bottom: 15px;
  text-align: center;
  padding: 20px;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  color: white;
}

@media screen and (max-width: 1200px) {
  #calendar article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #calendar article .details {
    border-left: none;
  }
  #inschrijvingContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  #calendar {
    width: 100%;
    background-size: 100%;
  }
  #parcours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #parcours .retroBike1 {
    display: none;
  }
  #parcours .right {
    margin-top: 35px;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header h1 {
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 3em;
  }
  #calendar {
    overflow: hidden;
    background-size: 800px;
  }
  #calendar article {
    margin-left: 0px;
  }
  #calendar article .details {
    width: 100%;
    margin-left: 0px;
  }
  #parcours .parcoursImage {
    width: 100vw;
    max-height: calc(100vh*1.414);
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 25px;
  }
  #inschrijvingKinderen,
  #inschrijvingKoers {
    width: 750;
    height: 750;
  }
  #praktisch .praktischContent {
    margin: 0px;
  }
  #praktisch .praktischContent article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #praktisch .praktischContent article div {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border-left: none;
  }
}
/*# sourceMappingURL=style.css.map */